body {
  font-family: 'Montserrat', sans-serif;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
}

img {
  width: 100%;
}

p {
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.2;
}

.container {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
}

.box {
  background: linear-gradient(#63a6e9 80%, white 20%);
  border-radius: 10px;
  box-shadow: 0 0 10px #e6e6e6;
  text-align: center;
  font-size: 0.8rem;
  padding: 5px 0;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 414px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    width: 40%;
  }
}
